.card-cube {
    padding: 0.5rem 1rem;
    box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
    min-height: 340px;
    overflow: hidden;
    position: relative;
    transition: .3s ease;
    &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        transform: translateY(-10px);
        &::before{
            color: $blue-color;
        }
    }
    .title{
        h1{
            font-weight: 600;
            // color: #191616d9;
            color: $blue-color;
        }
        
    }
    .text-card{
        h3{
            font-weight: 500;
            margin: 2px 0 8px;
            color: $gray-color;
        }
        p{
            color: $gray-color;
            font-size: 16px;
        }
    }
    &::before{
        content: "";
        position: absolute;
        bottom: 11px;
        right: 11px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 4.5rem;
        z-index: -1;
        color: #dfdfdf;
        transition: .3s ease;

    }
    &.product{
        &::before{
            content: "\f07a";
        }
    }
    &.pay{
        &::before{
            content: "\f132";
        }
    }
    &.shipping{
        &::before{
            content: "\f0d1";
        }
    }
    &.clock{
        &::before{
            content: "\f017";
        }
    }
}