$gray-color:#495057;
$gray-color-light:#f4f4f4ab;
$white-color:#ffff;
// $main-color:transparent linear-gradient(107deg, #ff9438 0%, #ff6638 26%, #ff3e5b 62%, #ff2467 89%, #d61375 100%) 0% 0% no-repeat padding-box;
$main-color: #030b2f;
$orange-color:#fd4600;
$degradade:transparent linear-gradient(107deg, #ff9438 0%, #ff6638 26%, #ff3e5b 62%, #ff2467 89%, #d61375 100%) 0% 0% no-repeat padding-box;